POSTGRES_DB=usersdb
POSTGRES_USER=usersapp
POSTGRES_PASSWORD=cambia_esta_clave
API_PORT=3000
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=cambia_admin_esta_clave
